@model IEnumerable<PartyInvites.Models.GuestResponse>;
@{
    Layout = null;
}

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
    <div>
        <h1>Here is the list of those attending</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
         <tbody>
             @foreach (var attending in @Model)
             {
                <tr>
                    <td>@attending.Name</td>
                    <td>@attending.Email</td>
                    <td>@attending.Phone</td>
                </tr>
             }
          
         </tbody>         
        </table>

        <p>
            Click <a asp-for="ListResponses">here</a> to see who is coming.
        </p>
    </div>
</body>
</html>